extends layout/template

block main
    include sections/hero.pug
    include sections/about_us.pug
    include sections/services.pug
    include sections/projects.pug
    include sections/testimonies.pug
    include sections/contact.pug
    include sections/footer.pug