extends layout/template.pug
include mixins/service

block main
    article.service
        .container
            .card
                .card-header
                    h2.card-title Diseño web
                    span.icon
                        <i class="fas fa-paint-brush" aria-hidden="true"></i>
                a(href="index.html#contact").btn-primary Solicitar
                .card-body
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur. Officia ab assumenda est quidem tenetur in voluptas, incidunt quia vel unde deleniti quis quo corporis atque minima dolor ut.
                .card-footer
                    a(href="#").card-link &#60; Atrás
                    a(href="#").card-link Siguiente &#62;
            aside.other_services
                .card
                    h2.subtitle Otros servicios
                    ul
                        li.list-item
                            a(href="#").card-link Desarrollo web
                        li.list-item
                            a(href="#").card-link Marketing digital
                        li.list-item
                            a(href="#").card-link Pocisionamiento en buscadores - Seo
                        li.list-item
                            a(href="#").card-link Diseño gráfico
                        li.list-item
                            a(href="#").card-link Edición y producción de video

    include sections/footer.pug