mixin project(imgUrl, description)
    article.card.sweetbox-item
        img(src=imgUrl, alt="Project image").sweetbox-small-img
        img(src=imgUrl, alt="Project image").sweetbox-large-img
        p.description.sweetbox-description-img= description