.footer
    .container
        .arbi_info
            .logo-container
                img(src="images/logo.png", alt="Logotipo").logo-img
                span.logo-text Arbi
            p.description Analizamos, diseñamos y llevamos adelante proyectos web modernos.
            .social-networks
                a(href="").icon
                    <i class="fab fa-facebook-square"></i>
                a(href="").icon
                    <i class="fab fa-twitter-square"></i>
                a(href="").icon
                    <i class="fab fa-instagram"></i>
        .line
        .footer-services
            h3.subtitle Servicios
            ul.services_list
                li.menu-item
                    a(href="#").menu-link Diseño web
                li.menu-item
                    a(href="#").menu-link Desarrollo web
                li.menu-item
                    a(href="#").menu-link Marketing digital
                li.menu-item
                    a(href="#").menu-link Seo
                li.menu-item
                    a(href="#").menu-link Diseño gráfico
                li.menu-item
                    a(href="#").menu-link Edición y producción de video
        .newsletter
            h3.subtitle Suscríbase a nuestro boletín
            p.description Reciba las últimas noticias y publicaciones de Arbi en su correo electrónico.
            form(action="").form-newsletter
                input(type="email", placeholder="Correo electrónico", required).form-input
                input(type="submit", value="Enviar").btn-primary
        .line
        .footer-contact
            h3.subtitle Contacto
            p.contact-info
                span.icon
                    <i class="fas fa-phone" aria-hidden="true"></i>
                span.phone 924 367 676
            p.contact-info
                span.icon
                    <i class="fas fa-envelope-open" aria-hidden="true"></i>
                span.email dev.erick95@gmail.com
