section#hero.hero
    .container
        .hero-texts
            h2.subtitle Posicionamos tu marca en Internet
            p.description Analizamos, diseñamos y llevamos adelante proyectos web modernos.
            a(href="#").btn-primary Más información
        .hero-container-img
            img(src="images/hero-img.png", alt="Hero image").hero-img