include ../mixins/project.pug

section#projects.projects
    .container
        h2.subtitle Proyectos desarrollados
        #projects-list.projects-list
            +project('https://camptecnologico.com/wp-content/uploads/2014/08/Taller-edicion-de-video-2-e1407230742386.jpg', 'Proyecto video profesional')
            +project('https://hodgeman.co.nz/wp-content/uploads/responsive_lakelandqueen.png', 'Proyecto responsive web design')
            +project('https://www.trecebits.com/wp-content/uploads/2018/06/marketing-digital.jpg', 'Proyecto marketing')
            +project('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytIRY50wu9WOLLh3AvDzZg7PX1D05D1iwkYMxy92MzaPhc40iVg', 'Proyecto diseño web')
            +project('https://cdn-images-1.medium.com/max/2400/1*qF8LfAwUhl57g9T0BVvVdg.jpeg', 'Proyecto web')
            +project('https://files.paredro.com/uploads/2018/08/Que%CC%81-es-disen%CC%83o-grafico-730x365.jpg', 'Proyecto diseño gráfico')
