include ../mixins/service

section#services.services
    .container
        h2.subtitle Brindamos servicios creativos
        .services-list
            +service('Diseño web', 'fas fa-paint-brush', 'service.html')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.
            +service('Desarrollo web', 'fas fa-code', '#')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.
            +service('Marketing digital', 'fas fa-chart-pie', '#')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.
            +service('Pocisionamiento en buscadores - Seo', 'fas fa-chart-line', '#')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.
            +service('Diseño gráfico', 'fas fa-pencil-ruler', '#')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.
            +service('Edición y producción de video', 'fas fa-tape', '#')
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nisi.