.testimonies
    .container
        h2.subtitle Testimonios
        .testimonial_list
            .card
                span.icon
                    <i class="fas fa-quote-right" aria-hidden="true"></i>
                p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus ab ut esse, dolor reprehenderit necessitatibus debitis enim, voluptas provident eos! Porro facere quibusdam doloribus illo iure!
                .line
                cite.card-title Slack
            .card
                .icon
                    <i class="fas fa-quote-right" aria-hidden="true"></i>
                p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus ab ut esse, dolor reprehenderit necessitatibus debitis enim, voluptas provident eos! Porro facere
                .line
                cite.card-title Dropbox
            .card
                .icon
                    <i class="fas fa-quote-right" aria-hidden="true"></i>
                p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus ab ut esse
                .line
                cite.card-title Github